.cm-mustache.code-panel
    .clearfix
        h2.l-left Mustache Template
        .l-left.status-invalid
            |invalid
        .l-right.external-documentation
            a(href="http://mustache.github.com/",target="_blank") Mustache Documentation

    #mustache.cm-ide
.cm-json.code-panel
    .clearfix
        h2.l-left JSON Feed
        .l-left.status-invalid
            |invalid
        .l-right.external-documentation
            a(href="http://www.json.org/",target="_blank") JSON
            a(href="http://www.jslint.com/",target="_blank") JSLint

        //- .l-right.datafixtures(style="display:none;")
        //-     .l-left
        //-         input#toggle-fixtures.frm-checkbox(type="checkbox")
        //-     .l-left
        //-         span enable 
        //-         a(href="https://github.com/acatl/datafixture.js") DataFixtures
    #json.cm-ide
.cm-output.code-panel
    h2 Output
    #output.cm-ide