a(href="https://github.com/acatl/try-mustache")
    img(style="position: absolute; top: 0; right: 0; border: 0;",src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png",alt="Fork me on GitHub")

h1 
    |Try 
    strong
        span.mustache-brackets {{
    |Mustache
    strong
        span.mustache-brackets }}
    |  online

p.site-description 
    |Test your 
    a(href="http://mustache.github.io/") Mustache Templates
    |  as you type 

blockquote.mustache-description 
    i.icon-quote-left 
    | Mustache can be used for HTML, config files, source code - anything. It works by expanding tags in a template using values provided in a hash or object. 
    i.icon-quote-right 
    footer
        |- 
        a(href="http://mustache.github.com/mustache.5.html") Mustache 5 Spec.
