.group.clearfix
    .about.section
        |This site is authored and maintained by 
        a(href="http://acatlpacheco.com",target="_blank") Acatl Pacheco.

    .links.section
        ul
            li
                a(href="http://acatlpacheco.com/",target="_blank") acatlpacheco.com
            li
                a(href="https://github.com/acatl",target="_blank") Github

    .rights.section
        |© Copyright 2013 Acatl Pacheco. Released under the 
        a(href="http://www.opensource.org/licenses/mit-license.php",target="_blank") MIT License

hr
.group.clearfix
    
    .thanks.section
        | Special thanks to: 
        a(href="http://mustache.github.com/",target="_blank") Mustache
        |, 
        a(href="http://codemirror.net/",target="_blank") CodeMirror
        |.
    .note.section
        |This site was not overdone using fancy coding, just plain good old 
        a(href="http://jquery.com/") jQuery